*.bak
*.old
nytprof.out
nytprof/
*.db
*.swp
.carton/
local/
public/upload/**/*
log/**/*
junit_output.xml
cover_db/
/WWW-ParseCom-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE

