html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

#team-A,
#team-A-check,
#team-C,
#team-C-check {
  background-color: #ddd;
}

.answerDiv img {
  margin: 0 auto;
}

.answer-opened {
  background-color: #33F;
  border: 5px solid #FFF;
}

.answer-ok {
  background-color: #F33;
}


